GUI1 Desktop/GUI1/GUI1/Connected Services/Sw_Pro/ControllerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://controller/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ControllerService" targetNamespace="http://controller/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:7101/Project1/ControllerPort?xsd=1" namespace="http://controller/" />
    </xsd:schema>
  </types>
  <message name="listarOrdenesPorIdProducto">
    <part name="parameters" element="tns:listarOrdenesPorIdProducto" />
  </message>
  <message name="listarOrdenesPorIdProductoResponse">
    <part name="parameters" element="tns:listarOrdenesPorIdProductoResponse" />
  </message>
  <message name="listarProductosPorNombre">
    <part name="parameters" element="tns:listarProductosPorNombre" />
  </message>
  <message name="listarProductosPorNombreResponse">
    <part name="parameters" element="tns:listarProductosPorNombreResponse" />
  </message>
  <message name="obtenerProducto">
    <part name="parameters" element="tns:obtenerProducto" />
  </message>
  <message name="obtenerProductoResponse">
    <part name="parameters" element="tns:obtenerProductoResponse" />
  </message>
  <message name="obtenerOrden">
    <part name="parameters" element="tns:obtenerOrden" />
  </message>
  <message name="obtenerOrdenResponse">
    <part name="parameters" element="tns:obtenerOrdenResponse" />
  </message>
  <message name="listarPrecios">
    <part name="parameters" element="tns:listarPrecios" />
  </message>
  <message name="listarPreciosResponse">
    <part name="parameters" element="tns:listarPreciosResponse" />
  </message>
  <message name="guardarOrden">
    <part name="parameters" element="tns:guardarOrden" />
  </message>
  <message name="guardarOrdenResponse">
    <part name="parameters" element="tns:guardarOrdenResponse" />
  </message>
  <message name="guardarProducto">
    <part name="parameters" element="tns:guardarProducto" />
  </message>
  <message name="guardarProductoResponse">
    <part name="parameters" element="tns:guardarProductoResponse" />
  </message>
  <message name="actualizarPrecioVentaProducto">
    <part name="parameters" element="tns:actualizarPrecioVentaProducto" />
  </message>
  <message name="actualizarPrecioVentaProductoResponse">
    <part name="parameters" element="tns:actualizarPrecioVentaProductoResponse" />
  </message>
  <message name="actualizarCatntidadOrden">
    <part name="parameters" element="tns:actualizarCatntidadOrden" />
  </message>
  <message name="actualizarCatntidadOrdenResponse">
    <part name="parameters" element="tns:actualizarCatntidadOrdenResponse" />
  </message>
  <message name="eliminarOrdenPorId">
    <part name="parameters" element="tns:eliminarOrdenPorId" />
  </message>
  <message name="eliminarOrdenPorIdResponse">
    <part name="parameters" element="tns:eliminarOrdenPorIdResponse" />
  </message>
  <message name="eliminarProductoPorId">
    <part name="parameters" element="tns:eliminarProductoPorId" />
  </message>
  <message name="eliminarProductoPorIdResponse">
    <part name="parameters" element="tns:eliminarProductoPorIdResponse" />
  </message>
  <portType name="Controller">
    <operation name="listarOrdenesPorIdProducto">
      <input wsam:Action="http://controller/Controller/listarOrdenesPorIdProductoRequest" message="tns:listarOrdenesPorIdProducto" />
      <output wsam:Action="http://controller/Controller/listarOrdenesPorIdProductoResponse" message="tns:listarOrdenesPorIdProductoResponse" />
    </operation>
    <operation name="listarProductosPorNombre">
      <input wsam:Action="http://controller/Controller/listarProductosPorNombreRequest" message="tns:listarProductosPorNombre" />
      <output wsam:Action="http://controller/Controller/listarProductosPorNombreResponse" message="tns:listarProductosPorNombreResponse" />
    </operation>
    <operation name="obtenerProducto">
      <input wsam:Action="http://controller/Controller/obtenerProductoRequest" message="tns:obtenerProducto" />
      <output wsam:Action="http://controller/Controller/obtenerProductoResponse" message="tns:obtenerProductoResponse" />
    </operation>
    <operation name="obtenerOrden">
      <input wsam:Action="http://controller/Controller/obtenerOrdenRequest" message="tns:obtenerOrden" />
      <output wsam:Action="http://controller/Controller/obtenerOrdenResponse" message="tns:obtenerOrdenResponse" />
    </operation>
    <operation name="listarPrecios">
      <input wsam:Action="http://controller/Controller/listarPreciosRequest" message="tns:listarPrecios" />
      <output wsam:Action="http://controller/Controller/listarPreciosResponse" message="tns:listarPreciosResponse" />
    </operation>
    <operation name="guardarOrden">
      <input wsam:Action="http://controller/Controller/guardarOrdenRequest" message="tns:guardarOrden" />
      <output wsam:Action="http://controller/Controller/guardarOrdenResponse" message="tns:guardarOrdenResponse" />
    </operation>
    <operation name="guardarProducto">
      <input wsam:Action="http://controller/Controller/guardarProductoRequest" message="tns:guardarProducto" />
      <output wsam:Action="http://controller/Controller/guardarProductoResponse" message="tns:guardarProductoResponse" />
    </operation>
    <operation name="actualizarPrecioVentaProducto">
      <input wsam:Action="http://controller/Controller/actualizarPrecioVentaProductoRequest" message="tns:actualizarPrecioVentaProducto" />
      <output wsam:Action="http://controller/Controller/actualizarPrecioVentaProductoResponse" message="tns:actualizarPrecioVentaProductoResponse" />
    </operation>
    <operation name="actualizarCatntidadOrden">
      <input wsam:Action="http://controller/Controller/actualizarCatntidadOrdenRequest" message="tns:actualizarCatntidadOrden" />
      <output wsam:Action="http://controller/Controller/actualizarCatntidadOrdenResponse" message="tns:actualizarCatntidadOrdenResponse" />
    </operation>
    <operation name="eliminarOrdenPorId">
      <input wsam:Action="http://controller/Controller/eliminarOrdenPorIdRequest" message="tns:eliminarOrdenPorId" />
      <output wsam:Action="http://controller/Controller/eliminarOrdenPorIdResponse" message="tns:eliminarOrdenPorIdResponse" />
    </operation>
    <operation name="eliminarProductoPorId">
      <input wsam:Action="http://controller/Controller/eliminarProductoPorIdRequest" message="tns:eliminarProductoPorId" />
      <output wsam:Action="http://controller/Controller/eliminarProductoPorIdResponse" message="tns:eliminarProductoPorIdResponse" />
    </operation>
  </portType>
  <binding name="ControllerPortBinding" type="tns:Controller">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarOrdenesPorIdProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerOrden">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPrecios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarOrden">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPrecioVentaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCatntidadOrden">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarOrdenPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProductoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ControllerService">
    <port name="ControllerPort" binding="tns:ControllerPortBinding">
      <soap:address location="http://localhost:7101/Project1/ControllerPort" />
    </port>
  </service>
</definitions>